@media (max-width: 768px) {
    .mr-sm-2 {
      flex: 1 0 80% !important; 
      margin: 10px !important;
    }
  
    .nav {
      width: 100% !important;
      height: fit-content !important;
    }
  }
  
  .nav {
    font-weight: 200;
    display: flex;
    width: 100vw;
    justify-content: space-between; 
    align-items: center;
    flex-direction: row;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 21;
    background-color: #D9C5C1;
    opacity: 0.7;
    padding: 10px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1); 
    border-radius: 0.25rem;
    /* font-family: 'Gotu', sans-serif; */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link, a, .mr-sm-2 {
    margin-right: 36px;
    letter-spacing: -1px;
    font-size: 16px;
    color: #593202;
    text-decoration: none;
    transition: color 0.4s, transform 0.1s; 
    margin-left: 50px !important;
  }
  
  .nav-link-admin{
    color: #a30500;
  }
  
  .nav-link:hover, a:hover {
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .nav-link.active, 
  a.active {
    color: #A64153 !important; 
  }
  
  .mr-sm-2 {
    display: flex;
    align-items: center; 
    margin:  10px;
    max-width: 300px;
    width: 400px !important;
  }
  
  .mr-sm-2 input {
    margin-right: 10px; 
  }
  
  .form-control {
    margin-right: 0 !important;
    display: inline !important;
    width: fit-content;
    left: 20px;
  }
  
  .btn-outline-success {
    height: 40px;
    border: none;
    background: linear-gradient(0deg, #FFC539 0%, #F25D27 100%) !important;
  }
  
  .btn-outline-success:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
                -4px -4px 6px 0 rgba(116, 125, 136, 0.5), 
                inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  }
  
  .navbar-expand{
  background-color: transparent;
  }
  
