.welcome-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  z-index: 1; 
  position: fixed;
  top: 50px;
  left: 200px;
}

.level-container, .theme-container, .bottom-container {
  grid-column: span 3;
}

.radio-buttons, .theme-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.redirect-button, .theme-button {
  background-color: #cce0f5;
  width: 300px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.redirect-button:hover {
  background-color: #a7d1fe;
}